<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div class="container">
        </br></br></br></br></br>
        <a th:href="@{/user/report}"  class="btn btn-info fa fa-print ">   User Report</a>
        <a th:href="@{/user/pdf}"  class="btn btn-info fa fa-download ">   User Report Download Pdf</a>

        <a th:href="@{/dept/deptreport}"  class="btn btn-success fa fa-print ">  Department Report</a>
        <a th:href="@{/dept/deptpdf}"  class="btn btn-success fa fa-download">   Department download Report</a>

    </div>
</div>
</body>
</html>